:root {
 --doc-height: 100%;
}

body {
	display: flex;
	flex-direction: row-reverse;
	height: 100vh; /* fallback for Js load */
	width: 95%;
	background-color: #d3d3d3;
	font-family: sans-serif;
	margin: 1vw;
}

p {
	margin: 0;
	padding: 0 .5vw;
}

.menu {
	flex: 1 0 auto;
	background-color: #d3d3d3;
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	border-radius: 1vw;
	grid-gap: 1vw;
}

.menu-button {
	display: block;
	left: 1rem;
	justify-content: center;
	border-radius: 1vw;
	user-select: none;
	width: 100%;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

#hint {
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	padding-top: 4rem;
	padding-bottom: 4rem;
	color: #ffffff;
	background-color:  #808080;
	border: #525252 solid;
}

#hint:hover {
	filter: brightness(0.9);
}

#add-cards {
	display: inline;
	word-break: break-all;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	padding-top: 6.05rem;
	padding-bottom: 6.05rem;
	color: #ffffff;
	border: #525252 solid;
	background-color: #808080;
}

#add-cards:hover {
	filter: brightness(.9);
}


.table {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #d3d3d3;
    height: 90%;
    width: 15rem;
    border-radius: 1vw;
    grid-gap: 1vw;
    margin-right: 1vw;
}


.card {
	background-color: #d3d3d3;
    border-radius: 1vw;
    justify-content: center;
    overflow: hidden;
}

label img {
	width: 5.3rem;
	height: 100%;
}

input {
	position: absolute;
  	max-height: 0;
  	overflow: hidden;
  	visibility: hidden;
}

label {
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	width: 100%;
  	height: 110%;
  	border-radius: 1vw;
  	margin-top: -5%;
  	cursor: pointer;
  	overflow: hidden;
  	left: 0.5vw;
}

.card:has(> label input:checked) {
	filter: brightness(.9);
	outline: 0.5vw solid #43A6C6;
}

.card.hint {
	box-shadow: 0 0 0.5rem 0.2rem green; 
}

.menu-button.hint {
	box-shadow: 0 0 0.3rem 0.2rem green;
}

